# Main dependencies
fastapi
uvicorn
pydantic
pydantic-settings
email-validator

# Working with database
sqlalchemy
psycopg
asyncpg
alembic

# Security
passlib
bcrypt
python-jose
python-multipart
PyJWT

# Working with files
boto3
aiofiles

# HTTP client
aiohttp
httpx

# Template engine
jinja2

# Development
ruff
mypy
